body {
    box-sizing: border-box;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFD873;
}

h1 {
    width: 90%;
    margin: 10px auto;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    border-bottom: 3px solid;
}

#message {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2em;
    text-align: center;
}

.game_container {
    display: grid;
    grid-template: repeat(3, 160px) / repeat(3, 1fr);
    grid-gap: 15px;
    margin: 10px 15px;
}

.square {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 100px;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    transition: background-color .1s linear, box-shadow .1s linear;
    cursor: default;
}

.square:hover {
    background-color: #a4abd7;
    box-shadow: 0 0 15px #2E3884;
}

#restart {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 500px){
    #message {
        font-size: 1.5em;
    }

    .game_container {
        grid-template-rows: repeat(3, 120px);
    }

    .square {
        font-size: 75px;
        transition: none;
    }

    .square:hover {
        background-color: unset;
        box-shadow: none;
    }
}
